<!DOCTYPE html>
<html>
<head>
  <title>WithoutScaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
		<% if flash[:notice] %>
			<div class="alert alert-info" role="alert">
				<p id="notice"><%= notice %></p>
			</div>
		<% end %>
	<%= yield %>
</div>


</body>
</html>
